body {
    background-color: purple;
}

p {
    color: red;
    font-size: 3rem;
}

.header {
    background-color: white;
    display: flex;
}

#main-header {
    color: purple;
    margin-left: auto;
}



